/* ADD MODAL */

/* FORM */
.addform-container {
  background-color: red;

  width: 100%;
}

.addform-form-container {
  width: 100%;
  background-color: aquamarine;
  margin: 0 auto;
}

.addform-form-label-formcontrol-container {
  background-color: lightcyan;
}
